.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 30px;

  > h2 {
    font-size: 34px;
    color: red;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}

.cart-list {
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 50%;
  

  > li {
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-family: sans-serif;

    > h3 {
        width: 200px;
        color: blue;
        font-size: 16px;
        text-transform: uppercase;
    
    }
  }
}

button {
  cursor: pointer;

  &:hover {
    background-color: yellow;
    scale: 1.1;
  }
}

.show-total {
  font-size: 28px;
}


.empty-cart-button {
  padding: 6px;
}