.product-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  &__product-info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    text-align: center;
    background-color: rgb(161, 203, 203, 0.5);
    padding: 5px;

    h4 {
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    p {
      font-size: 1.2rem;
    }

    button {
      width: 100%;
      border-radius: 0.8rem;
      border: 1px solid #7777;
      font-size: 1.8rem;
      font-weight: 700;
      padding: 1rem 0rem;
      cursor: pointer;
      padding: 10px;
    }

    .add-to-cart {
      margin: auto;
      display: flex;
      align-items: center;
      justify-items: center;

      p {
        font-size: 2rem;
      }
    }
  }
}
